@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    width: 100%;
    border-collapse: collapse;
}

table tr th,
table tr td {
    @apply py-1 px-2 border border-gray-300
}

table tr th {
    @apply bg-blue-100
}

table tr:nth-child(even) {
    @apply bg-gray-100
}

.button1 {
    @apply py-2 px-4 rounded shadow bg-blue-100 hover:bg-white border border-blue-300 duration-300
}

.button2 {
    @apply py-2 px-4 rounded shadow bg-blue-200 hover:bg-blue-300 border border-blue-300 duration-300
}

.form-group {
    @apply mb-3
}

.form-group label {
    @apply block
}

.form-group input,
.form-group select {
    @apply w-full border border-gray-300 rounded
}

.error-label {
    font-style: italic;
    font-size: 0.9em;
    color: #ff6666;
}

.av-role {
    @apply block py-1 px-3 rounded bg-green-100 shadow mb-2 border border-green-200 flex justify-between cursor-pointer items-center hover:bg-green-300 duration-300
}

.as-role {
    @apply block py-1 px-3 rounded bg-blue-200 shadow mb-2 border border-blue-300 flex justify-between cursor-pointer items-center hover:bg-blue-400 duration-300
}
